<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	 "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	<mapper namespace="com.talk.report.mapper.ReportReplyMapper">
		
		<insert id="insert">
			INSERT INTO reply_report (report_rnum, report_reply_num, report_id , report_reason) 
			VALUES
			(report_rnum.nextval, #{report_reply_num}, #{report_id}, #{report_reason})
		</insert>
		
		<delete id="delete">
			DELETE FROM reply_report 
			WHERE report_rnum = #{report_rnum}
		</delete>
	
		<select id="allList" resultType="com.talk.report.domain.ReportReplyVO">
			SELECT * FROM reply_report
			ORDER BY report_rnum DESC		
		</select>
		
		<select id="select" resultType="com.talk.report.domain.ReportReplyVO">
			SELECT * FROM reply_report WHERE report_rnum = #{report_rnum}
		</select>
	</mapper>