<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talk.post.mapper.AdMapper">
	
	<select id="select" resultType="com.talk.post.domain.AdVO">
		SELECT * FROM ad WHERE ad_num=#{ad_num}
	</select>

</mapper>
