<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talk.user.mapper.UserMapper">

	
	<select id="getUser" resultType="com.talk.user.domain.UserVO">
		SELECT * FROM user_info WHERE (user_num = #{uno})
	</select>
	
	<select id="getUserById" resultType="com.talk.user.domain.UserVO">
		SELECT * FROM user_info WHERE (user_id = #{uid})
	</select>
	
	<select id="loginCheck" resultType="com.talk.user.domain.UserVO">
		SELECT * FROM user_info WHERE (user_id = #{uid}) and (user_pw = #{upw})
	</select>
	
	<select id="getAllUsers" resultType="com.talk.user.domain.UserVO">
		SELECT * FROM user_info order by user_num
	</select>
	
	<select id="lastUserNum" resultType="long">
		SELECT max(user_num) FROM user_info
	</select>
	
	<insert id="insert">
		INSERT INTO user_info (user_num, user_id, user_pw, user_name, last_name, user_age, phone_num) 
		VALUES (user_num.nextval, #{user_id}, #{user_pw}, #{user_name}, #{last_name}, #{user_age}, #{phone_num})
	</insert>
	
	<delete id="delete">
	
		DELETE FROM user_info WHERE user_id=#{uid}
	</delete>
	
	<update id="update">
		UPDATE user_info SET 
		user_pw = #{user_pw}, 
		user_name = #{user_name}, 
		last_name = #{last_name}, 
		user_age = #{user_age}, 
		phone_num = #{phone_num},
		user_img = #{user_img},
		user_comment = #{user_comment}
		WHERE user_id=#{user_id}
	</update>
</mapper>

